* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: yanone;
    background-color: rgb(250, 248, 246);
}

/* @font-face {
    font-family: yanone;
    src: url(yanone/YanoneKaffeesatz-Regular.ttf);
}

@font-face {
    font-family: yanone;
    src: url(yanone/YanoneKaffeesatz-Bold.ttf);
    font-weight: bold;
} */



/* header  */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper {
    width: 1100px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.header-btn {
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    width: 220px;
    height: 56px;
    background-color: white;
}

.header-btn:hover {
    font-size: 15px;
    border: 2px solid white;
    border-radius: 10px;
    width: 220px;
    height: 56px;
    background-color: rgb(23, 35, 57);
    cursor: pointer;
    color: white;
}






/* main container */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.main-wrapper {
    width: 1100px;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.main-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* flex: 2; */
    height: 405px;
    width: 635px;
    position: relative;
}

.main-btn {
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    width: 220px;
    height: 56px;
    color: white;
    background-color: rgb(23, 35, 57)
}

.main-btn:hover {
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    width: 220px;
    height: 56px;
    color: black;
    background-image: linear-gradient(to right, rgba(203, 48,227), rgba(255, 168,78));
    cursor: pointer;
}

.bold-text {
    font-weight: bold;
}

#heading-absolute {
    font-size: 72px;
    background-color: transparent;
    position: absolute;
    top: -40px;
    right: -200px;
}

.main-paragraph {
    opacity: 70%;
}

.main-middle-container {
    height: 600px;
    width: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* flex: 1; */
    background-image: linear-gradient(to right, rgba(203, 48,227), rgba(255, 168,78));
    border-radius: 30px;
}

.path {
    position: absolute;
    top: -90px;
    right: -150px;
    background-color: transparent;
}

.iphone-img {
    height: 300px;
    width: 200px;
    background-color: transparent;
    border: none;
}

.main-right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 190px;
    height: 375px;
    /* flex: 1; */
}




/* section with a man with a phone */

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;
}

.section-wrapper {
    width: 1100px;
    height: 545px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    background-color: rgb(23, 35, 57);
    position: absolute;
    bottom: -50%;

}

#transparent-container {
    background-color: transparent;
    color: white;
}

.section-img1 {
    height: 600px;
    width: 375px;
    padding-bottom: 30px;
}

.section-image-container2 {
    position: relative;
}

.section-img2 {
    position: absolute;
    left: -100px;
    top: -100px;
}


.section-text-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    margin-right: 100px;
}

.section-heading {
    font-size: 50px;
}

.section-paragraph1 {
    font-weight: lighter;
    opacity: 80%;
    font-size: 15px;
}

.jeremy {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.cmo {
    font-size: 12px;
}



.footer {
    height: 545px;
    background-color: rgb(243, 237, 231);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 30px;
}

#footer-items-background {
    background-color: transparent;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.copy-right {
    font-size: 12px;
}

.icons:hover {
    cursor: pointer;
}